html,body {
    margin: 0;
    padding: 0;
}
li {
    margin: .4rem 0;
}
select {
    padding: .2rem;
}

.wrapper {
    width: calc(100% - 40px);
    max-width: 1400px;
    padding: 0 20px;
    margin: auto;
}

.title {
    height: 50px;
    padding: 10px 0;
    position: sticky;
    top: 0;
    background-color: #4a2222;
    color: #fff;
    text-align: center;
}
.title h1 {
    margin: 0;
    font-size: 34px;
    font-weight: bolder;
    font-family: futura;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid #ccc;
    padding: .2rem;
}
table thead th {
    text-align: center;
    font-weight: bolder;
}

td.tac {
    text-align: center;
}
td.success {
    background: green;
    color: white;
}
td.fail {
    background: red;
    color: white;
}
td.warn {
    background: rgb(215, 232, 36);
    color: white;
}
td > a,
td > a:hover,
td > a:visited {
    color: #000;
}

.codecTable thead th {
    position: sticky;
    top: 149px;
    background-color: #930f0f;
    border: 1px solid #ccc;
    color: #fff;
}

.filter {
    position: sticky;
    top: 70px;
    height: 60px;
    padding: 20px 0 0 0;
    background-color: #fff;
}

.filter__body {
    display: flex;
    column-gap: 2rem;
}
.filter__label {
    font-weight: bold;
}
