li {
    margin: .4rem 0;
}
select {
    padding: .2rem;
}

.wrapper {
    width: 100%;
    max-width: 1800px;
    margin: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid #ccc;
    padding: .2rem;
}
table thead th {
    text-align: center;
    font-weight: bolder;
}

td.tac {
    text-align: center;
}
td.success {
    background: green;
    color: white;
}
td.fail {
    background: red;
    color: white;
}
td.warn {
    background: rgb(215, 232, 36);
    color: white;
}
td > a,
td > a:hover,
td > a:visited {
    color: #000;
}

.filter {
    margin: 2rem 0;
    display: flex;
    column-gap: 2rem;
}
